.HomePage {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .main {
    min-width: 300px;
    height: 500px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: self-start;
    gap: 50px;

    .left_side {
      text-align: center;
      position: relative;
      z-index: 100;

      .my_title {
        height: 200px;
        font-size: 14px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        overflow-y: scroll;

      }

      .my_title::-webkit-scrollbar {
        width: 0px;
      }
    }

    .right_side {
      text-align: center;
    }

    .contact_me {
      width: 100%;
      height: 52px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;

      a {
        transition: all .2s ease;
      }

      a:hover {
        color: palevioletred;
      }
    }

    .avatar {
      width: 200px;
      height: 200px;
      overflow: hidden;
      border-radius: 30px;
      position: relative;

      img {
        width: 100%;
      }

      // .imgFlash {
      //   width: 10%;
      //   height: 200%;
      //   background-color: rgba($color: #ffffff, $alpha: 0.3);
      //   rotate: 135deg;
      //   position: absolute;
      //   z-index: 1;
      // }
    }
  }

  .ArrowLeft::before {
    content: "About Me";
  }

  .ArrowRight::before {
    content: "Projects";
  }

  .backgroud {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: black;
    top: 0;
    position: absolute;
    opacity: 0.2;
  }

}