.timers {
  max-width: 500px;

  .ant-table-body {
    scroll-behavior: smooth;
  }

  .ant-select {
    width: 100%;
  }

  .buttons_group {
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
}